body {
	font-family: Helvetica; 
	color: #fff; 
	font-size: 18px; 
	margin: 0;
	padding: 0px; 
}

.header {
	padding-top: 15px;
	background-color: #443B36;
	height: 50px;
}

.toprows {
	background-color: #443B36;
}

.aff {
	text-align: center; 
	color: white; 
	padding: 7px; 
	background-color: #443B36;
	margin-bottom: 0px; 
}

.clients {
	color: black;
	font-size: 30px; 
	background-color: white; 
	padding-top: 20px; 
	padding-left: 75px; 
	padding-bottom: 20px; 

}

.brands {
	background-color: #fff; 
	height: 140px;

}

.text {
	max-height: 200px; 
	padding-top: 60px; 
	padding-bottom: 50px; 
	text-align: center; 
	background-color: turquoise;
}

.onebutton {
	background-color: turquoise;
	border: solid, white, 4px; 
	color: white; 
	border-radius: 0px; 
	float: left; 
}

button {
	padding-right: 50px; 
}

.sentence {
	float: left;
	
}

.subfooter {
	font-size: 14px; 
	padding-top: 15px; 
	padding-bottom: 15px; 
	background-color: #e6e6e6;
	color: 	 #666666;
}

.belancio { 
	padding-top: 5px; 
	padding-left: 25px; 
}

.footer {
	height: 50px; 
	color: black;
	font-size: 10px; 
	padding-top: 7px; 

}

.love {
	padding-left: 25px; 
}
.heart {
	color: red; 
}

.copyright {
	text-align: right; 
	padding-right: 20px; 
}









